# Dependencies
node_modules

# Build output
dist
release
build

# Python
.venv/
.pyinstaller-venv*
__pycache__/
*.pyc
*.spec

# Database
*.db

# Env & secrets
.env
.env.*

# Logs
*.log

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
